<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="/styles.css"/>
  </head>

  <body>
    <h1>Are you ready to have the TIME OF YOUR LIFE?</h1>
<div>
    <p1> Rock, Paper, Scissors is a game played between two players.</p1>
    <p> </p>
    <p2>The rules are simple and very fun.</p2>
    <p> </p>
    <p3>Each player chooses either rock, paper or scissors, and announce their choices at the same time. Rock beats scissors; scissors beats paper; paper beats rock. If both players play the same hand, it's a draw.

      To play, just enter your choices in the URL above. Player 1 should enter first, forward by a '/', then Player 2. For example, if Player 1 chooses rock and Player 2 chooses scissors, the URL should look like this: '/home/rock/scissors'.

      Then just hit enter to see the result.</p3>
      <p> </p>
      <p4>Happy playing!</p4></div>
      <p> </p>
      <img src="http://advisoranalyst.com/glablog/wp-content/uploads/2014/05/thumb_6917_rockpaperscissors.jpg">
  </body>

</html>
